.bg_nav{
    background-color: #222d32;
  
}
.bg_nav_top{
    background-color: #680210;
}
.main_color_txt{
    color: #63009B;
    font-weight: bold;
}

.border_rounded{
    border-radius: 25px;
}